body{
    margin: 0px;
    padding: 0%;
    
}
.container{
    padding: 0px 190px;
    
}
.headline{
text-align: center;
background-color:#cecece;
padding: 2px;
font-family:    'Josefin Slab', serif ;
font-size: 12px;
}
.headlabel span a{
    font-weight: bold;
    color: black;
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: #ffffff;
}

.item {
    display: flex;
    align-items: center;
}
.item a{
    padding: 0 20px;
    text-decoration: none;
}
.item ul{
    padding: 0px;
}
.item ul li{
    list-style-type: none;
    position: relative;
    z-index: 100000;
}
.item ul li a{
    color: black;
    text-decoration: none;
    
}
.sub{
    display: none;
}
.item ul li:hover .sub{
    display: block;
    position: absolute;
    background-color:rgb(255, 254, 254);
}
.sub ul{
    display: block;
    padding: 0px;
    height: auto;
    
}
.sub ul li{
    padding: 10px 40px 10px 20px;
}
.sub ul li:hover{
    background-color: rgb(225, 225, 225);
 }


.item input{
    background-color: #f1f1f1;
    border: 0;
    height: 44px;
    padding-bottom: 2px;
    max-width: 382px;
}
.item input::placeholder{
font-family:    'Josefin Slab', serif ;
font-style: italic;
}
.navbar{
    font-size: 18px;
    background-color: black;
    font-family: 'Josefin Slab', serif;
}
.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    height: 50px;
    
}
.navbar ul li{
    list-style-type: none;
    padding: 0 20px;
    position: relative;
    z-index: 100;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
}
.submenu{
    display: none;
}
.navbar ul li:hover .submenu{
    display: block;
    position: absolute;
    background-color:black;
    
}
.submenu ul{
    display: block;
    padding: 0px;
    height: auto;
    width: auto;
}
.submenu ul li{
    padding: 10px 50px 10px 20px;

}
.submenu ul li:hover{
    background-color: gray;

 }
 #mainimg{
    width: 100%;
 }
.smallsl{
    height: 63px;
    font-family: 'Josefin Slab', serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sl {
    align-items: center;
}
.sl img{
    padding-right: 8px;
   
}


